<nav class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">JetJedi</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': page=='dashboardJetForce'}">
                        <a href="/index.html">HOME</a>
                    </li>

                    <li ng-class="{'active': page=='listaJetForce' || page=='cadastroJetForce' ||  page=='updateJetForce' }">
                        <a href="/listaJetForce.html">JEDIS</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>

                    </li>
                </ul>
            </div>

        </nav>
    </div>
</nav>
